div {
    color: white;
    
    
}
a {
    color: white;
    font-size: 17px;
}
label {
    color: white;
    font-size: 35px
}
body {
    background-color:#87CEFA
}
#outer-div {
    color: white;
    text-align: center;
    font-size: 25px
}
#snacks {
    color: blue;
    font-size: 35px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.imageblock {
    display: flex;
    justify-content: space-between;
}
.imageblock figure {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    margin: 0;
}
.imageblock figure * {
    width: 100%;
}
figcaption {
    font-size: 20px
}
h1 {
    color: #DC143C;
    text-align: center;
}
.play {
    font-size: 30px;
    color: #4B0082;
    padding-top: 30px
}
.eat {
    color: #FFFF00;
    font-size: 20px;
}
#mov-snack {
    font-size: 30px;
    color: #4B0082;
}
.revClass {
    font-size: 30px
}
button {
   cursor: pointer;
   border: 1px solid #555;
   padding: 5px;
   margin-left: 8px;
}
.dark {
    background-color: #222;
    color: #e6e6e6; 
}
